.outer-box {
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.studio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.25rem;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Studio info section */
.studio-info {
  width: 100%;
  max-width: 600px;
  margin-bottom: 1.25rem;
}

.studio-info h1 {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  color: black; /* Text color changed to black */
  font-weight: bold; /* Heading is bold */
}

.studio-info p {
  font-size: 1rem;
  line-height: 1.5;
  color: black; /* Text color changed to black */
}

/* Flex container for address and follow us */
.studio-details {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.studio-address, .studio-follow {
  width: 48%;
}

.studio-address h3, .studio-follow h3 {
  font-size: 1.2rem;
  margin-bottom: 0.625rem;
  color: black; /* Text color changed to black */
  font-weight: bold; /* Heading is bold */
}

.social-icons a {
  display: inline-block;
  margin-right: 0.625rem;
  color: black; /* Text color changed to black */
  transition: color 0.3s ease;
}

.directions-button {
  margin-top: 1.25rem;
  padding: 0.625rem 1.25rem;
  background-color: #cbf96f;
  color: black; /* Text color changed to black */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.directions-button:hover {
  background-color: #b4df5e;
  transform: scale(1.05);
}

/* Studio image section */
.studio-image {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.studio-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.studio-image img:hover {
  transform: scale(1.1);
}

/* Responsive design */
@media (max-width: 768px) {
  .studio-container {
      flex-direction: column;
      align-items: center;
  }
  .studio-info, .studio-image {
      width: 100%;
  }


  .studio-info h1 {
    font-size: 2rem;
  }

  .studio-info p, .studio-address h3, .studio-follow h3 {
    font-size: 0.875rem;
  }

  .directions-button {
    font-size: 0.875rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --accent-color: #cbf96f;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #eee;
  color: black; /* Text color changed to black */
}

h1 {
  margin: 50px 0 30px;
  /* text-align: center; */
  color: black; /* Text color changed to black */
  font-weight: bold; /* Heading is bold */
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.faq {
  box-sizing: border-box;
  background: transparent;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.faq:not(:first-child) {
  border-top: 1px solid #e6e6e6;
}

.faq-title {
  margin: 0 35px 0 0;
  color: black; /* Text color changed to black */
  font-weight: bold; /* Heading is bold */
}

.faq-text {
  margin: 30px 0 0;
  display: none;
  /* line-height: 1.5rem; */
  color: black; /* Text color changed to black */
}

.faq.active {
  background-color: #f8f8f8;
  box-shadow: inset 4px 0px 0px 0px var(--accent-color);
}

.faq.active .faq-title {
  color: black; /* Text color changed to black */
}

.faq.active .faq-text {
  display: block;
  color: black; /* Text color changed to black */
}

.faq-toggle {
  background-color: transparent;
  border: 1px solid #e6e6e6;
  color: black; /* Text color changed to black */
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding-top: 3px;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
  transition: 0.3s ease;
}

.faq-toggle:focus {
  outline: none;
}

.faq.active .faq-toggle {
  transform: rotate(180deg);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: black; /* Text color changed to black */
}

.input {
  transition: box-shadow 0.3s, border-color 0.3s;
}

.input:focus {
  box-shadow: 0 0 0 0.2rem rgba(88, 99, 248, 0.15);
}
.animated-tagline-container {
  text-align: center;
  padding: 2rem;
  margin-bottom: 3rem;
 
  background-color: white;
}

.animated-tagline {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  font-family: 'Arial', sans-serif;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid;
  animation: typing 3.5s steps(40, end), blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
}

.main-header {
  position: relative;
  text-align: center;
}

.main-header h1 {
  font-size: 48px; /* Adjust size as needed */
  font-weight: bold; /* Adjust weight as needed */
}

.circle {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  background-color: green; /* Adjust color as needed */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.main-header img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.container {
  position: relative;
  width: 100%;
  transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
}
.box {
  position: relative;
  left: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% + 400px);
  height: 200px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  animation: animateBox 1.5s ease-in-out infinite;
  -webkit-animation: animateBox 1.5s ease-in-out infinite;
}
@keyframes animateBox {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  100% {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
  }
}
.loader {
  position: relative;
  width: 200px;
  height: 200px;
  background: #03e9f4;
  box-shadow: 0 0 5px rgb(3, 233, 244, 1), 0 0 25px rgb(3, 233, 244, 1),
    0 0 50px rgb(3, 233, 244, 1), 0 0 100px rgb(3, 233, 244, 1),
    0 0 200px rgb(3, 233, 244, 0.5), 0 0 300px rgb(3, 233, 244, 0.5);
  transform-origin: bottom right;
  animation: animate 1.5s ease-in-out;
  -webkit-animation: animate 1.5s ease-in-out infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  60% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  65% {
    transform: rotate(85deg);
    -webkit-transform: rotate(85deg);
    -moz-transform: rotate(85deg);
    -ms-transform: rotate(85deg);
    -o-transform: rotate(85deg);
  }
  70% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  75% {
    transform: rotate(87.5deg);
    -webkit-transform: rotate(87.5deg);
    -moz-transform: rotate(87.5deg);
    -ms-transform: rotate(87.5deg);
    -o-transform: rotate(87.5deg);
  }
  80%,
  100% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
}
